.main {
    flex-wrap: wrap;
    width: 100%;
    justify-content: between;
    /* margin-left: 2.5vw; */
}


.cluster {
    background-color: var(--bleu-moche);
    margin: 0.2vw;
    /* width: 44.5vw;  */
    width: 45%;
    height: 12vw;
    flex-wrap: wrap;
    padding: 0.2vw 0.3vw 0.2vw 0.3vw;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 2vw 0.5vw 2vw;
}

.specs {
    /* height:1.5vw; */
    width: 100%;
    margin-bottom: 0.2vw;
    padding-left: 0.5vw;
}

.cluster-name {
    margin:0;
    font-size: 1vw;
    font-weight: bold;
    /* color: var(--orange-moche); */
}
