footer {
    padding: 1vw 2vw;
    height: 2vw;
    justify-content: space-between;
    /* horizontal-align: center; */
    margin: auto;
}

footer p {
    font-size: 1.1vw;
}

footer a {
    color: var(--orange-moche);
    text-decoration: underline;
    font-size: 1.1vw;
}
