.gpu {
    background-color: var(--primary);
    width: 16vw;
    /* height: 80%; */
    padding: 0.5vw;
    border-radius: 6px;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.free-text {
    color: #04EF1B;
    /* margin: auto; */
    font-size: 1vw;
}
