header {
    z-index: 4;
    padding: 1vw 2vw;
    height: 2vw;
    justify-content: space-between;
}

.box {
    display: flex;
}

#title-logo {
    height: 100%;
}

#logo-image {
    height: 100%;
    margin-right: 3vw;
}

#page-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    align-self: center;
    margin-right: 1vw;
}

#source-code {
    margin: 1vw;
    align-self: center;
}

#last-updated {
    /* width: 10vw; */
    font-size: 1vw;
}

#page-selection {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.1vw;
    /* font-weight: lighter; */
}

#page-selection a {
    /* margin: 0 0 0 3vw; */
    margin: auto;
}

header a {
    color: var(--light);
    text-decoration: none;
}

.button {
    border-radius: 25px;
    border: solid 1.5px var(--orange-moche);
    /* width: 150px; */
    margin-left:15px;
    justify-content: flex-end;
    padding: 0 0.8vw 0 0.8vw;
}

.button:hover {
    background-color: var(--orange-moche);
}

#clusters-button {
    background-color: var(--orange-moche);
}
