.node {
    background-color: var(--bleu-moche);
    margin: 0.2vw;
    width: 80vw;
    width: 100%;
    /* width: min-content; */
    height: 4vw;
    flex-wrap: wrap;
    /* padding: 0.2vw 0.3vw 0.2vw 0.3vw; */
    /* padding: 0.5vw; */
    /* justify-content: space-between; */
    border-radius: 10px;
    margin: 0 2vw 0.5vw 2vw;
}

.hostname {
    /* height:1.5vw; */
    width: 9vw;
    /* margin-bottom: 0.2vw; */
    margin-left: 1vw;
    /* margin: 1; */
    font-size: 1vw;
    font-weight: bold;
}
