@import url(header.css);
@import url(footer.css);
@import url(clusters.css);
@import url(node.css);
@import url(gpu.css);
/* @import url(waiting_list.css); */

/* @media (min-width: 1200px) { */
/*     body { */
/*         transform: scale(0.90); */
/*         transform-origin: 50% 0; */
/*     } */
/* } */
/**/
/* @media (min-width: 1400px) { */
/*     body { */
/*         transform: scale(0.70); */
/*         transform-origin: 50% 0; */
/*     } */
/* } */

:root {
    --primary: #292F3C;
    --light: #F3F3F3;
    --dark: #686868;
    --orange-moche: #F07E26;
    --bleu-moche: #374258;
  }

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 1.4;

    transform: scale(0.80);
    /* Place at the top */
    transform-origin: 50% 0;
}

img {
    max-width: 100%;
}

.global {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.centered {
    align-items: center;
}

.column-ordered {
    flex-direction: column;
}

.justify-end {
    justify-items: flex-end;
}

p {
    margin: 0;
    font-size: 0.9vw;
}
